* {
    margin: 0;
    padding: 0;
}

.msg {
    display: inline-block;
    position: absolute;
    top: 50%;
    text-align: center;
    font-size: 18px;
    color: rgb(206, 112, 5);
    font-weight: 700;
}

.library-books {
    margin-top: 10px;
}