
.search-book-title {
    white-space: normal;
    margin-left: 15px;
    font-weight: 600;
    font-size: 14px;
}

.search-book-author {
    margin-left: 5px;
    margin-top: -15px;
    font-size: 13px;
}

.search-book img {
    width: 60px;
    height: 80px;
    float: left;
    margin-right: 7px;
    padding: 2px;
}

.search-book {
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
}

.search-book:hover{
    background-color: whitesmoke;
    border-color: whitesmoke;
}

a:hover {
    text-decoration: none;
}